<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="ITLISTENER.ListenersTest"></listener>
	</listeners>
	<parameter name="URL" value="http://apps.qaplanet.in/erp/index.php"></parameter>
	<test thread-count="5" name="ItemandInventory">
		<classes>
			<class name="TestItemandInventory.InventorylocationsTest" />
			<class name="TestItemandInventory.UnitofmeasureTest" />
			<class name="TestItemandInventory.InventoryTest" />
			<class name="TestItemandInventory.ItemsTest" />
		</classes>
	</test>

	<test thread-count="5" name="Testsales">
	<parameter name="URL" value="http://apps.qaplanet.in/erp/index.php"></parameter>
	<parameter name="USERNAME" value="qaplanet1"></parameter>
	<parameter name="PASSWORD" value="lab1"></parameter>
		<classes>
			<class name="Testsales.TestLogin" />
			<class name="TestLogin.CredentialsTest" />
			<class name="Testsales.Testsalestype" />
			<class name="Testsales.Testsalesgroup" />
			<class name="Testsales.Testsalesperson" />
		</classes>
	</test> 
	<test thread-count="5" name="BankingandLedger">
		<classes>
			<class name="BankingandLedger.BankAccountsTest" />
		</classes>
	</test><!-- Test -->
</suite> <!-- Suite -->

